<title>Edit Contacts | Admin Template</title>

<%- include('../../layout/header'); %>
<div class="nk-content" id="edit-product">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Info Contact</h3>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="invoice">
                        <div class="invoice-wrap">
                            <div class="invoice-brand text-center">
                                <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="">
                            </div>

                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <form action="/update-news/<%= data.id %>" method="post" enctype="multipart/form-data" class="form-validate is-alter">
                                        <div class="row g-gs">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="name">Name</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="name"
                                                            value="<%= data.name %>" name="name" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="email">Email</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="email" value="<%= data.email %>"
                                                            name="email" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone">Phone</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="phone" value="<%= data.phone %>"
                                                            name="phone" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex">
                                                <div class="col-md-6 pl-0">
                                                    <div class="form-group">
                                                        <label class="form-label" for="status">Status</label>
                                                        <div class="form-control-wrap ">
                                                            <select class="form-control form-select"
                                                                id="status" name="status"
                                                                data-placeholder="Select a option" required>
                                                                    <option value="1" <%= data.status == 1 ? 'selected' : '' %>>Show</option>
                                                                    <option value="0" <%= data.status == 0 ? 'selected' : '' %>>Hidden</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-0">
                                                    <div class="form-group">
                                                        <label class="form-label" for="status">Type</label>
                                                        <div class="form-control-wrap ">
                                                            <% if (data.key == 1) { %>
                                                                <input type="text"  class="form-control" id="key" value="Send Mail"
                                                                name="phone" >
                                                            <% } else { %>
                                                                <input type="text"  class="form-control" id="key" value="No type"
                                                                name="phone" >
                                                            <% } %>
                                                            <!-- <select class="form-control form-select" id="status"
                                                                name="key" data-placeholder="Select a option"
                                                                required>
                                                                <option value="1" <%= data.key == 1 ? 'selected' : '' %>>Yes</option>
                                                                <option value="0" <%= data.key == 0 ? 'selected' : '' %>>No</option>
                                                            </select> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="title">Title</label>
                                                    <div class="form-control-wrap">
                                                        <textarea class="form-control form-control-sm"
                                                            id="title" name="title" 
                                                            placeholder="Write your title"> <%= data.title %> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="title">Content</label>
                                                    <div class="form-control-wrap">
                                                        <textarea class="form-control form-control-sm"
                                                            id="title" name="title" 
                                                            placeholder="Write your title"> <%= data.content %> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- .nk-block -->
                    </div><!-- .invoice -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
   
    <!-- content @e -->
    <!-- footer @s -->
    <%- include('../../layout/footer'); %>