<title>Edit User | Admin Template</title>
<%- include('../../layout/header'); %>
<!-- content @s -->
<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">Personal Information</h4>
                                            <div class="nk-block-des">
                                                <p>
                                                    Basic info, like your name and address, that you use
                                                    on Nio Platform.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content align-self-start d-lg-none">
                                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="invoice">
                                        <div class="invoice-wrap">
                                            <div class="invoice-brand text-center">
                                                <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x"
                                                    alt="">
                                            </div>

                                            <div class="row g-gs">
                                                <div class="col-lg-6">
                                                    <div class="card card-bordered h-100">
                                                        <div class="card-inner">
                                                            <div class="card-head">
                                                                <h5 class="card-title">User Info</h5>
                                                            </div>
                                                            <form action="/update-profile/<%= data.id %>" method="post">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                        for="email-address">Email</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control"
                                                                            id="email-address" disabled
                                                                            value="<%= data.email %>">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="full-name">Full
                                                                        Name</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control"
                                                                            id="full-name" name="username"
                                                                            value="<%= data.username %>">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                        for="eaddress">Address</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control"
                                                                            id="address" name="address"
                                                                            value="<%= data.address %>">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label" for="phone-no">Phone
                                                                        No</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control"
                                                                            id="phone-no" name="phone"
                                                                            value="<%= data.phone %>">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label">Birthday</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text"
                                                                            class="form-control date-picker"
                                                                            name="birthday"
                                                                            value="<%= data.birthday %>">
                                                                    </div>
                                                                    <div class="form-note">Date format
                                                                        <code>mm/dd/yyyy</code></div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                        for="customFileLabel">Avatar</label>
                                                                    <div class="form-control-wrap">
                                                                        <div class="custom-file">
                                                                            <input type="file" class="custom-file-input"
                                                                                id="customFile" name="avatar">
                                                                            <label class="custom-file-label"
                                                                                for="customFile">Choose file</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class=" d-flex">
                                                                    <div class="form-group col-md-6 pl-0">
                                                                        <label class="form-label"
                                                                            for="gender">Gender</label>
                                                                        <div class="form-control-wrap ">
                                                                            <select class="form-control form-select"
                                                                                id="gender" name="gender"
                                                                                data-placeholder="Select a option">
                                                                                <option value="1"
                                                                                    <%= data.status == 1 ? 'selected' : '' %>>
                                                                                    Male</option>
                                                                                <option value="0"
                                                                                    <%= data.status == 0 ? 'selected' : '' %>>
                                                                                    Female</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-6 pr-0">
                                                                        <label class="form-label"
                                                                            for="status">Status</label>
                                                                        <div class="form-control-wrap ">
                                                                            <select class="form-control form-select"
                                                                                id="status" name="status"
                                                                                data-placeholder="Select a option">
                                                                                <option value="1"
                                                                                    <%= data.status == 1 ? 'selected' : '' %>>
                                                                                    Active</option>
                                                                                <option value="0"
                                                                                    <%= data.status == 0 ? 'selected' : '' %>>
                                                                                    Block</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit"
                                                                        class="btn btn-lg btn-primary">Save
                                                                        Informations</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="card card-bordered h-100">
                                                        <div class="card-inner">
                                                            <div class="card-head">
                                                                <h5 class="card-title">Change Password</h5>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label" for="cf-full-name">Old Password</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="password" class="form-control" id="old_password" name="old_password">
                                                                </div>
                                                                <div class="form-note text-danger" id="err_old_password"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label" for="cf-email-address">New Password</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="password" class="form-control" id="password" name="password">
                                                                </div>
                                                                <div class="form-note text-danger" id="err_password"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label" for="cf-phone-no">Confim Password</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="password" class="form-control" id="re_password" name="re_password">
                                                                </div>
                                                                <div class="form-note text-danger" id="err_re_password"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" id="btnSubmitSave"
                                                                    class="btn btn-lg btn-primary">Save Password</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- .nk-block -->
                                    </div><!-- .invoice -->
                                </div><!-- .nk-block -->
                                <!-- .nk-block -->
                            </div>

                        </div>
                        <!-- .card-aside-wrap -->
                    </div>
                    <!-- .card -->
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
<!-- footer @s -->
<%- include('../../layout/footer'); %>
<!-- footer @e -->

<script>
    $(document).ready(function () {

        $("#btnSubmitSave").click(function () {
            let id = "<%= data.id %>";
            let old_password = $('#old_password').val();
            let password = $('#password').val();
            let re_password = $('#re_password').val();
            let data = {
                old_password: old_password,
                password: password,
                re_password: re_password
            }
            Swal.fire({
                title: 'Are you sure?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "post",
                        url: "update-password/" + id,
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        success: function (response) {
                            if (response.status === false) {
                                
                                if (response.error.old_password) {
                                    $('#err_old_password').html(response.error.old_password.message).show();
                                }
                                if (response.error.password) {
                                    $('#err_password').html(response.error.password.message).show();
                                }
                                if (response.error.re_password) {
                                    $('#err_re_password').html(response.error.re_password.message).show();
                                }
                            } else {
                                Swal.fire({
                                    title: "Successfully",
                                    icon: 'success',
                                    showCancelButton: false,
                                    timer:3000
                                }).then(() => {
                                    window.location.reload();
                                })
                            }
                        }
                    });
                }
            })
        })

    })
</script>